@import '../../.cache/wal/colors-waybar.css';

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    font-size: 14px;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

tooltip {
    background: #000000;
    border-radius: 8px;
    border: 1px solid @color15;
}

tooltip label {
    color: @foreground;
}

#leftSide, #controlCenter, #custom-swaync, #workspaces {
    background-color: #000000;
    border: 2px solid @color15;
    border-radius: 8px; 
    margin: 0px 6px;
}

#custom-os_button, #memory, #cpu, 
#pulseaudio, #battery, #backlight, #power-profiles-daemon, #clock, #custom-swaync {
    padding: 0px 12px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#custom-os_button:hover, #memory:hover, #cpu:hover, 
#pulseaudio:hover, #battery:hover, #backlight:hover, #power-profiles-daemon:hover, #clock:hover, #custom-swaync:hover {
    background-color: @color14;
    color: #000000;
}

#custom-os_button { border-radius: 6px 0px 0px 6px; }
#cpu { border-radius: 0px 6px 6px 0px; }

#pulseaudio { border-radius: 6px 0px 0px 6px; }
#clock { border-radius: 0px 6px 6px 0px; }

#workspaces {
    padding: 2px 4px;
}

#workspaces button {
    color: @color15; 
    padding: 0px 10px;
    margin: 2px;
    border-radius: 6px; /* Squircle workspace buttons */
    min-width: 24px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces button.active {
    background-color: @color15;
    color: #000000;
    min-width: 40px;
    animation: active-workspace-pop 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#workspaces button:hover {
    background-color: @color14;
    color: #000000;
    box-shadow: 0px 0px 6px @color14;
}

/* Keyframe to smoothly transition the squircle expansion */
@keyframes active-workspace-pop {
    0% {
        min-width: 24px;
        background-color: transparent;
    }
    100% {
        min-width: 40px;
        background-color: @color15;
    }
}
