/*theme.css: PYWAL COLOR MAPPING*/
@import "/home/shiv/.cache/wal/colors-waybar.css";

@define-color bg-main @background;
@define-color fg-main @foreground;
@define-color bg-second @color8;
@define-color bg-third @color0;
@define-color bg-hover @color3;
@define-color accent-main @color4;
@define-color accent-alt @color5;
@define-color warning-color @color1;
@define-color border-main @color13;
@define-color border-secondary @color10;
@define-color shadow-main @color2;

/* Text and Tooltip Colors */
@define-color fg-unactive @color7;
@define-color bg-tooltip @background;
@define-color border-alt @color4;
@define-color content-act @color9;

/* Player Colors */
@define-color ply-main @color12;
@define-color ply-hover @color6;
@define-color ply-act @color14;
@define-color msc-act @color15;

/* Wlogout */

@define-color wlogout-hover rgba(37, 37, 68, 0.541);
@define-color wlogout-bg rgba(17, 17, 17, 0.45);
@define-color wlogout-button rgba(17, 17, 27, 0.781);
