@import url("../../.cache/wal/colors-rofi-dark.rasi")

* {
    border: none;
    box-shadow: none;
}

window, #window {
    background-color: @fff; 
    background: @fff;
    margin: 0px;
}

#outer-box {
    margin: 5px; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.65); 
    border: 2px solid rgba(255, 255, 255, 0.3); 
    border-radius: 16px;
}

#inner-box, #scroll {
    background-color: rgba(0, 0, 0, 0); 
}

#input {
    margin: 5px 5px 15px 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    color: @foreground;
    padding: 10px;
    border-radius: 12px;
}

#input:focus {
    border: 1px solid @color7;
    outline: none;
}

#text {
    margin: 5px;
    color: @foreground;
}

#entry {
    padding: 8px;
    margin: 2px 5px;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid transparent;
}

#entry:selected, #entry:focus {
    background-color: @color2; 
    border: 1px solid @color7; 
    border-radius: 12px;
    outline: none;
}

#entry:selected #text, #entry:focus #text {
    color: @color10;
    font-weight: bold;
}
