/* configuration { */
/*     // modi:                       "drun,run,window,ssh,keys,combi,filebrowser,recursivebrowser"; */
/*     show-icons:                 true; */
/*     // display-drun:               "  "; */
/*     display-drun:               " "; */
/*     font:                       "FiraCode Nerd Font 12"; */
/* } */
@theme "/dev/null"
@import "~/.cache/wal/colors-rofi-dark.rasi"
* {
    rad:                         0px;
    background-color:            transparent;
    text-color:                  @foreground;
}
window {
    border-radius:               8px;
    width:                       30%;
    border:                      2px solid;
    border-color:                @color7;
    background-color:            @background;
}
mainbox {
    children:                    [ "inputbar", "listview" ];
}
inputbar {
    children:                    [ "prompt", "entry" ];
    background-color:            @alternate-normal-background;
    padding:                     15px;
    border:                      0 0 2px 0;
    border-color:                @color8;
}
prompt {
    text-color:                  @color7;
    font-weight:                 bold;
}
listview {
    lines:                       8;
    padding:                     10px;
    spacing:                     4px;
    fixed-height:                true;
}
element {
    padding:                     8px 12px;
    border-radius:               6px;
}
element selected {
    border:                      2px solid @color1;
    background-color:            @selected-normal-background;
    text-color:                  @selected-normal-foreground;
}
element-icon {
    size:                        24px;
    margin:                      0 12px 0 0;
}
element-text {
    vertical-align:              0.5;
}
